POSTGRES_DB=healthspan
POSTGRES_USER=healthspan
POSTGRES_PASSWORD=healthspan_dev
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
OPENSEARCH_URL=http://opensearch:9200

API_CORS_ORIGINS=http://localhost:3000
APP_ENV=development
